body {
	font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #444;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.bg-2 {
	background: #333 url(../img/blackboard.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
}